<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
    {% block content %}
        <div class="container">
            <h1>emails</h1>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">sender</th>
                    <th scope="col">subject</th>
                    <th scope="col">date</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <th scope="row"><a href="{{ object.get_absolute_url }}">{{ object.id }}</a>
                        </th>
                        <td>{{ object.sender|safe }}</td>
                        <td>{{ object.subject }}</td>
                        <td>{{ object.postDate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock content %}